{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans 'Statuses' %}</h1>
	<a class="btn btn-primary mb-3" href="{% url 'status_create' %}">{% trans 'Create Status' %}</a>
    <table class="table table-striped">
        <thead class="thead-dark">
	        <tr>
	            <th scope="col">{% trans 'ID' %}</th>
	            <th scope="col">{% trans 'Name' %}</th>
	            <th scope="col">{% trans 'Creation date' %}</th>
	            <th></th>
	        </tr>
	  </thead>
      <tbody>
        {%for status in statuses %}
        <tr>
	      <th scope="row">{{ status.id }}</th>
	        <td>{{ status.name }}</td>
	        <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
	        <td>
				<a href="{% url 'status_update' status.id %}">
			    {% trans 'Edit' %}</a>
                <br>
				<a href="{% url 'status_delete' status.id %}">
			    {% trans 'Delete' %}</a>
	        </td>
	    </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}