{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans 'Tasks' %}</h1>
	<a class="btn btn-primary mb-3" href="{% url 'task_create' %}">{% trans 'Create Task' %}</a>

	<div class="card mb-3">
        <div class="card-body bg-light">
            <form class="form-inline center" method="get">
              {% bootstrap_form filter.form field_class="ml-2 mr-3" %}
              {% bootstrap_button button_text button_type="submit" button_class="btn btn-primary" %}
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead class="thead-dark">
	        <tr>
	            <th scope="col">{% trans 'ID' %}</th>
	            <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Status' %}</th>
                <th scope="col">{% trans 'Author' %}</th>
                <th scope="col">{% trans 'Executor' %}</th>
	            <th scope="col">{% trans 'Creation date' %}</th>
	            <th></th>
	        </tr>
	  </thead>
      <tbody>
        {%for task in tasks %}
        <tr>
	      <th scope="row">{{ task.id }}</th>
	        <td>{{ task.name }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.author }}</td>
            <td>{% if task.executor %}{{ task.executor }}{% endif %}</td>
	        <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
	        <td>
				<a href="{% url 'task_update' task.id %}">
			    {% trans 'Edit' %}</a>
                <br>
				<a href="{% url 'task_delete' task.id %}">
			    {% trans 'Delete' %}</a>
	        </td>
	    </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}